<div class="card mat-card" id="second-card">
    <!-- <div class="card-titles"> --> <!-- id="info"> -->
        <div class="card-titles"> <!-- id="info-data"> -->
            <div id="info-data">
                <div>
                    <h1>Acerca de</h1>
                    <!-- <div id="info-contact"> -->
                    <div>
                        <p id="text-acercade">Desarrollador de software, en búsqueda constante de aplicar (y ampliar) mis conocimientos en diversos proyectos y seguir desarrollándome profesionalmente</p>
                    </div>
                    
                </div> 
                     
            </div>  
            <div class="btn-edit" onclick="cambiarParrafo()">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>  
        </div>
    <!-- </div> -->
</div>

