<div class="card mat-card" id="six-card">
    <div id="info">
        <div>
            <h1>Proyectos</h1>
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-more"></i>
                </a>
            </div>
        </div> 
        <div id="info-data">
            <div>
                <h1>e-Farmacia</h1>
                <div class="btn-edit">
                    <a href="#" class="btn-right">
                        <i class="fa fa-pen"></i>
                    </a>
                </div>
                <div id="info-contact">
                    <span>Desarrollador de software, en búsqueda constante de aplicar (y ampliar) mis conocimientos en diversos proyectos y seguir desarrollándome profesionalmente</span>
                </div>
            </div> 
        </div>
        <div id="info-data">
            <div>
                <h1>Sistema de Monitoreo</h1>
                <div class="btn-edit">
                    <a href="#" class="btn-right">
                        <i class="fa fa-pen"></i>
                    </a>
                </div>
                <div id="info-contact">
                    <span>Desarrollador de software, en búsqueda constante de aplicar (y ampliar) mis conocimientos en diversos proyectos y seguir desarrollándome profesionalmente</span>
                </div>
            </div> 
        </div>
    </div>
</div>
