<div class="card mat-card" id="five-card">
    <div id="info">
        <div id="info-data">
            <div>
                <h1>Hard Skills & Soft Skills</h1>
                <!-- <div class="btn-edit">
                    <a href="#" class="btn-right">
                        <i class="fa fa-more"></i>
                    </a>
                </div> -->
            </div> 
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
          
            <div id="info-data">
                <div>
                    <h1>Resolución de Problemas</h1>
                    
                </div> 
            </div>
            <div id="info-data">
                <div>
                    <h1>Diseño de Sistemas</h1>
                    <!-- <div class="btn-edit">
                        <a href="#" class="btn-right">
                            <i class="fa fa-pen"></i>
                        </a>
                    </div> -->
                </div> 
            </div>
           
    </div>
</div>
